@media screen and (max-width:550px) {
    .mat-form-contact{
        width: 100% !important;
    }
}

.contact-page-section{
    background: linear-gradient(200.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    color: white;
}