.footer-section {
    background-color: black;
    color: white;
}

#gmap_canvas {
    position: relative;
    text-align: right;
    height: 500px;
    width: 100%;
    overflow: hidden;
    background: none !important;
}