<div class="spartan-font">
    <section class="video-section" id="section_1">
<!--        <div class="section-overlay"></div>-->

      <div class="video-wrap">
        <video autoplay muted loop id="myVideo" oncanplay="play()" onloadedmetadata="muted = true"
               class="custom-video">
          <source src="/assets/video/intro_video.mp4" type="video/mp4">
        </video>
      </div>

      <div class="video-interface d-flex justify-content-center">
          <div class="container row">

              <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row justify-content--center padding-bottom--15">
                  <div class="date-wrap padding-left--10 padding-right--30">
                      <h2 class="text-white">
                          <i class="custom-icon bi-clock me-2"></i>
                          Duminica <br> <span style="margin-left: 35px">9 - 10:30</span> <br> <span
                              style="margin-left: 35px">11 - 12:30</span>
                      </h2>
                  </div>

                  <div style="padding-left: 30px; padding-right: 30px;" class="location-wrap py-3">
                      <h2 class="text-white" style="font-family: 'spartan';">
                          <i class="custom-icon bi-geo-alt me-2"></i>
                          Constantin Brancoveanu 65A, Targoviste
                      </h2>
                  </div>

                  <social-media-links></social-media-links>
              </div>
          </div>
      </div>
    </section>

    <section class="padding--15">
      <div class="container">
        <div class="presentation-video row">
          <iframe
            src="https://www.youtube.com/embed/U8qhXbZoOxE?autoplay=1&version=3&loop=1&playlist=U8qhXbZoOxE"
            loop
          >
          </iframe>
        </div>
      </div>
    </section>
</div>