<div class="social-share padding-horiz--30 padding-vert--5">
    <ul class="social-icon d-flex align-items-center justify-content-center">
        <!-- <span class="text-white me-3">Share:</span> -->

        <li class="social-icon-item">
            <a href="https://www.facebook.com/bisericaefraim" target="_blank" class="social-icon-link">
                <span class="bi-facebook"></span>
            </a>
        </li>

        <li class="social-icon-item">
            <a href="https://www.tiktok.com/@bisericaefraim" target="_blank" class="social-icon-link">
                <span class="bi-tiktok"></span>
            </a>
        </li>

        <li class="social-icon-item">
            <a href="https://www.instagram.com/bisericaefraim" target="_blank" class="social-icon-link">
                <span class="bi-instagram"></span>
            </a>
        </li>
        <li class="social-icon-item">
            <a href="https://www.youtube.com/bisericaefraim" target="_blank" class="social-icon-link">
                <span class="bi-youtube"></span>
            </a>
        </li>
    </ul>
</div>